/vendor
/node_modules
/storage
/bootstrap/cache
/public/build
/public/hot
/public/storage

coverage
.phpunit.cache
.phpunit.result.cache

composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

*.min.js
*.min.css
